  .topnav {
    overflow: hidden;
    background-color: #33E2FF;
    position: relative;
  }
  .topnav a {
    float: right;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  #container {
    
  }
  #body {
    background-image: url("https://thumbs.dreamstime.com/z/retro-vacation-postcard-12722965.jpg");
    /* background-color: #33E2FF; */
    /* font-family: Arial, Helvetica, sans-serif; */
  }
  /* #destinationImage { */
    /* background-image: url("https://thumbs.dreamstime.com/z/retro-vacation-postcard-12722965.jpg"); */
    /* border-top-width: initial; */
    /* height: 200px; */
    /* background-color: yellow; */
    /* padding: 10px; */
  }
  #userInput {
    border-top-width: initial;
    height: 75px;
    font-size: 15px;
    text-align: center;
    color: white;
  }
  #advisoryResults {
    margin-left: 500px;
    width: 800px;
    height: 70px;
    background-color: #ffff00;
    color: white;
  }
  #newsResults {
  margin-left: 250px;
  width: 800px;
  height: 150px;
  background-color: #ff7f50;
  opacity: 0.3;
  color: white;
}  
  #covidResults {
  width: 800px;
  height: 80px;
  background-color: #6a50ff;
  color: white;
}
  #about {
    max-width: auto;
    margin: auto;
    height: 75px;
    text-align: justify;
    font-size: 20px;
    /* background-color: #ffbc50ee; */
    color: purple;   
} 