.topnav {
  overflow: hidden;
  background-color: #33E2FF;
}
form{
  border-style: solid;
}
.hide {
  display: none;
}
.topnav a {
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
body {
  background-color: #33E2FF;
  font-family: font-family: 'Ubuntu', sans-serif;
}
#userInput {
  border-top-width: initial;
  font-size: 25px;
  text-align: left;
  color: white;
}
#advisoryResults {
  width: 500px;
  height: 100px;
  padding: 25px;
  margin-top: 25px;
  background-origin: padding-box;
  background-color: cadetblue;
  opacity: 0.8;
  font-size: 25px;
  color: black;
}
#newsResults {
  margin-left: 400px;
  width: 500px;
  min-height: 150px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-origin: padding-box;
  background-color: coral;
  opacity: 0.6;
  font-size: .8rem;
  color: black;
}  

#covidResults {
  width: 500px;
  /* height: 100px; */
  padding: 25px;
  background-origin: padding-box;
  background-color: #6a50ff;
  opacity: 0.7;
  font-size: 25px;
  color: black;

}
#about {
  max-width: auto;
  margin: auto;
  height: 75px;
  text-align: justify;
  font-size: 20px;
  background-color: #b3ff50ee;
  opacity: 0.8;
  color: black;   
} 