.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
body {
  font-family: sans-serif, Arial, Helvetica, ;
  text-align: center; 
}
#userInput {
  border-top-width: initial;
  height: 200px;
  background-color: #8f4122c2;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #E5B728;
}
.pure-g {
  text-align: center; 
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
#advisoryResults {
  margin-bottom: 20px;
  padding: 50px;
  width: 400px;
  height: 300px;    
  font-size: 18px;
  background-color: #ff505083;
  color: black;
      } 
#newsResults {
  width: 400px;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-size: 18px;
  background-color: #ff505083;
  color: black;
       } 
#covidResults {
  margin-bottom: 20px;
  padding: 50px;
  width: 400px;
  height: 300px;
  font-size: 18px;
  background-color: #ff505083;
  color: black;
      }  
.footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8f4122c2;
  color: black;
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 769px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  @media screen and (max-width: 400px) {
      .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
  }